header {
	height: 50px;
}

.nav {
	position: absolute;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	border-bottom: 2px solid;
	border-color: #CCCCCC;
	background-color: white;

}

.container {
	/*width: 1100px;*/
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav a {
	color: #5a5a5a;
  	font-weight: bold;
  	font-size: 13px;
	/*padding-left: 15px;
	padding-right: 15px;*/
	font: sans-serif;
  	padding: -7px;
  	text-decoration: none;
}

.nav li:hover {
	color: #000047;
}

.nav .container {
	padding: 0;
}

.nav li {
	display: inline;
	border-right: 1px solid #CCCCCC;
	padding: 18px;
	
}

/*#border_right {
	border-right: 1px solid #CCCCCC;
}*/

#banner {
	position: relative;
	margin-right: auto;
	/*margin-left: 40px;*/
	width: 1100px;
	left: -15px;
	width: 1166px;
}

.left_border {
	border-left: 1px solid #CCCCCC;
}

body {
	background-color: white;

}

.body_border {
	border-right: 2px solid #CCCCCC;
	border-left: 2px solid #CCCCCC;
	background-color: white;
}

footer {
	background-color: #F8F8F8;
}

.body {
	background-color: #F8F8F8;
}

.footer {
	border-top: 2px solid #CCCCCC;
	color: #5a5a5a;
  	font-weight: bold;
  	font-size: 13px;
  	font: sans-serif;
  	padding: 20px 0 ;
  	text-align: center;
  	background-color: #F8F8F8;
}
