#top_div {
	background-color: black;
	position: relative;
	height: 50px;
	width: 2012px;
	right: 100px;
	bottom: 20px;
}

#left_border {
	background-color: black;
	position:absolute;
	height: 100%;
	width: 10px;
	
}

body {
	background: #F8F8F8 ;
}
